body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.ingreso-proyecto {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}*/

#proyectos {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.proyecto {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.proyecto h3 {
  margin-top: 0;
}

.proyecto form {
  margin-bottom: 20px;
}

.proyecto form input[type="text"] {
  margin-right: 10px;
  padding: 5px;
}

.proyecto ul {
  list-style-type: none;
  padding-left: 0;
}

.proyecto ul li {
  margin-bottom: 10px;
}

.proyecto ul li label {
  margin-left: 10px;
}